

*, *:after, *:before 
	box-sizing: border-box

html
	font-size: 10px

body
	background-color: #fff
	font-size: 1.5rem
	font-weight: normal
	font-family: 'Gilroy Regular'
	color: #fff
	
.container
	width: 100%
	margin: 0 auto
	max-width: 1635px
	padding: 0 20px
