.btn
	border: 1px solid #fff
	background-color: transparent
	border-radius: 40px
	&_color_white
		color: #fff
	&_color_black
		color: #000
	&_radius
		border-radius: 40px
	&_border_white
		border: 1px solid #fff
	&_border_black
		border: 1px solid #000
	&:focus
		outline: none
	&:active
		outline: none