.footer
	width: 100%
	background-color: #1E1F23
	padding-top: 60px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	align-items: flex-start
	@media screen and (max-width: 425px)
		padding-top: 40px

	&__content
		width: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between
		align-items: flex-start
		@media screen and (max-width: 768px)
			flex-direction: column
			justify-content: space-around

	&__logo
		width: 274px
		height: 58px
		display: block
		img
			width: 100%
			height: 100%
			
	&__blocklist
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-basis: 60%
		flex-direction: row
		justify-content: space-around
		@media screen and (max-width: 768px)
			width: 100%
		@media screen and (max-width: 425px)
			flex-direction: column
			flex-basis: auto

	&__item
		flex-basis: 50%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		&:first-child
			flex-basis: 40%
			flex-direction: column
			align-items: flex-start
			justify-content: flex-start
			@media screen and (max-width: 768px)
				margin-bottom: 43px
			@media screen and (max-width: 425px)
				margin-bottom: 10px

		@media screen and (max-width: 425px)
			display: block
			flex-basis: auto
			width: 90%

	&__description
		max-width: 485px
		font-size: 1.8rem
		margin: 60px 0
		@media screen and (max-width: 768px)
			display: none
	
	&__logo
		position: relative
		@media screen and (max-width: 425px)
			width: 190px
			height: 40px
			margin: 0 auto

	&__list
		padding: 0
		margin: 0
		list-style: none
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		align-items: flex-start
		&:first-child
			padding-left: 20px
		@media screen and (max-width: 768px)
			font-size: 2rem
		@media screen and (max-width: 425px)
			padding: 0 40px

	&__listtitle
		font-size: 2.4rem
		margin-bottom: 26px
		@media screen and (max-width: 425px)
			margin: 21px auto
			font-size: 4rem

	&__li
		margin: 10px 0
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		align-items: center
	&__link
		font-size: 1.6rem
		color: #F2F2F2
		@media screen and (max-width: 768px)
			font-size: 2rem
		@media screen and (max-width: 425px)
			font-size: 2.5rem

	&__contacts
		&:before
			width: 21px
			height: 21px
			display: block
			background-color: transparent
			margin-right: 7px
		@media screen and (max-width: 425px)
			font-size: 2.5rem

	&__contacts-town
		&:before
			content: url(../img/footer__map-icon.svg)
	&__contacts-address
		&:before
			content: url(../img/footer__location-icon.svg)
	&__contacts-numb
		&:before
			content: url(../img/footer__phone-icon.svg)
	&__contacts-email
		&:before
			content: url(../img/footer__email-icon.svg)
	&__copy
		border-top: 1px solid #FFFFFF
		width: 100%
		padding: 31px 0
		@media screen and (max-width: 425px)
			margin-top: 50px

	&__copywrap
		width: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		justify-content: space-between
		flex-wrap: wrap
		align-items: center
		@media screen and (max-width: 425px)
			width: 78%
			margin: 0 auto

	&__copyblock
		font-size: 1.8rem
		font-family: 'Gilroy Bold'
		span
			display: block
			margin-bottom: 19px
			font-size: 1.4rem
			font-family: 'Gilroy Regular'
		@media screen and (max-width: 425px)
			width: 100%
			font-size: 1.5rem
			margin: 0 auto
			font-family: 'Gilroy Regular'
			span
				font-size: 1.5rem
			&:last-child
				margin-top: 15px
				font-size: 2rem
				font-family: 'Gilroy Bold'