@media screen and (max-width: 1024px)
	html
		font-size: 7.5px
	.hero
		&__title
			margin-top: 135px
			line-height: 85px
		&__btn
			margin-bottom: 40px

	.header
		&__item
			min-height: 800px

@media screen and (max-width: 768px)
	.container
		width: 100%
		padding: 0 60px

	.burger-btn
		&_text
			margin-right: 15px
		&_text_modal
			margin-right: 0

	.header
		&__item
			min-height: 671px

	.modal
		&__item
			&:last-child
				opacity: 0.45

	.top-menu
		justify-content: flex-end
		&__li
			display: none
			&:nth-child(3n)
				display: inline-block

	.steps
		&__title
			margin: 0
		&__wrap
			border: none
		&__item
			flex-basis: 50%
		&__itembg
			img
				display: block
				margin: 0 
		&__itemcontent
			justify-content: center
	
	.shortAbout
		&__wrap
			border: none

	.slick
		&-arrow
			right: 60px

	.hero
		width: 100%
		&__title
			line-height: 75px
			margin-top: 150px
		&__subtitle
			line-height: 21px
		&__btn
			font-size: 1.4rem
			padding: 20px 31px
			margin-bottom: 90px
		&__item
			margin: 0
		&__dots
			bottom: 5%

	.section__title
		text-align: center
		&:after
			background-color: transparent

	.projects
		&__item
			width: 35%
			&:last-child
				display: none
		&__btn
			font-size: 1.4rem
			padding: 18px 47px 

	.footer
		&__content
			flex-direction: column
			justify-content: space-around
		&__blocklist
			width: 100%
		&__item
			&:first-child
				margin-bottom: 43px
		&__description
			display: none

@media screen and (max-width: 425px)
	html
		font-size: 6px

	.container
		width: 100%
		max-width: 100%
		padding: 0 10px
	
	.modal
		&__logo
			width: 144px
		&__item
			&:last-child
				display: none

	.nav
		background-color: #1E1F23
		top: 0
		&__mobile
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			margin-top: 4px
			&:after
				content: ''
				display: block
				width: 550px
				height: 1px
				background-color: #fff
				margin-top: 5px
				margin-left: -40px
		&__number
			font-size: 2.5rem
			display: flex
			flex-direction: row
			align-items: center
			&:before
				content: url('../img/nav__phone.svg')
				display: block
				background-color: transparent
				width: 15px
				height: 15px
				margin-right: 5px



	
	.header
		&__item
			min-height: 580px
	
	.slick
		&-prev
			margin-right: 80%
		&-next
		&-arrow
			width: 40px
			height: 27px
			top: 60%
			right: 4%

	.hero
		padding: 0 15px
		&__title
			line-height: 43px
			font-size: 5rem
			margin-top: 130px
		&__subtitle
			margin: 14px 0 120px
			font-size: 2.2rem
			line-height: 16px
		&__btn
			display: block
			font-size: 3rem
			padding: 22px 36px
			margin: 0 auto
	
	.steps
		&__wrap
			padding: 28px 0 58px
		&__content
			flex-direction: column
		&__item
			margin: 0 auto
		&__title 
			font-size: 3.5rem
			margin: 0
			span
				display: block
			&:after
				margin: 0

	.projects
		&__content
			flex-direction: column
		&__title
			margin: 55px 0 38px
			font-size: 3.5rem
		&__item
			width: 90%
			margin-bottom: 50px
			&:last-child
				display: block
				margin-bottom: 0
		&__itemtitle
			font-size: 4rem
		&__itemsubtitle
			font-size: 2.3rem
			margin: 7px 0 12px
		&__btn
			font-size: 2.5rem
			padding: 18px 35px
		&__showAll
			margin: 34px auto 58px
			font-size: 2.5rem
