@media screen and (max-width: 1024px)
	html
		font-size: 7.5px
	.hero
		&__title
			margin-top: 135px
			line-height: 85px
			font-size: 9rem
		&__btn
			margin-bottom: 40px

	.header
		&__item
			min-height: 800px

@media screen and (max-width: 768px)
	.container
		width: 100%
		padding: 0 60px
	.header
		&__item
			min-height: 591px

	.top-menu
		justify-content: flex-end
		&__li
			display: none
			&:nth-child(3n)
				display: inline-block

	.steps
		&__title
			margin: 0
		&__wrap
			border: none
		&__item
			flex-basis: 50%
		&__itembg
			img
				display: block
				margin: 0 
		&__itemcontent
			justify-content: center
	
	.shortAbout
		&__wrap
			border: none

	.slick
		&-arrow
			right: 60px


	.hero
		width: 100%
		&__title
			line-height: 47px
			margin-top: 150px
		&__subtitle
			line-height: 21px
		&__btn
			font-size: 1.4rem
			padding: 20px 31px
			margin-bottom: 90px
		&__item
			margin: 0
		&__dots
			bottom: 5%

	.section__title
		text-align: center
		&:after
			background-color: transparent

	.projects
		&__item
			width: 35%
			&:last-child
				display: none
		&__btn
			font-size: 1.4rem
			padding: 18px 47px 

	.footer
		&__content
			flex-direction: column
			justify-content: space-around
		&__blocklist
			width: 100%
		&__item
			&:first-child
				margin-bottom: 43px
		&__description
			display: none
