@media screen and (max-width: 1024px)
	.container
		width: 100%
		max-width: 950px
		padding: 0 30px

	.top-menu
		&__link
			font-size: 1.6rem

	.hero
		&__title
			margin-top: 135px
			line-height: 85px
		&__btn
			margin-bottom: 40px

	.header
		&__item
			min-height: 800px

	.mechanics
		&__subtitle
			font-size: 1.6rem	
	
@media screen and (max-width: 768px)
	html
		font-size: 7px

	.container
		width: 100%
		max-width: 10000px
		padding: 0 60px
	.nav
		&__item
			padding-right: 0px
	.burger-btn
		&_text
			margin-right: 15px
		&_text_modal
			margin-right: 0

	.header
		&__item
			min-height: 671px

	.modal
		&__item
			&:last-child
				opacity: 0.45

	.top-menu
		justify-content: flex-end
		&__li
			display: none
			&:nth-child(3n)
				display: inline-block

	.steps
		&__title
			margin: 0
		&__wrap
			border: none
		&__item
			flex-basis: 50%
		&__itembg
			img
				display: block
				margin: 0 
		&__itemcontent
			justify-content: center
	
	.shortAbout
		&__wrap
			border: none

	.slick
		&-arrow
			right: 60px

	.hero
		width: 100%
		&__title
			line-height: 75px
			margin-top: 150px
		&__subtitle
			line-height: 21px
		&__btn
			font-size: 1.4rem
			padding: 20px 31px
			margin-bottom: 90px
		&__item
			margin: 0
		&__dots
			bottom: 5%

	.section__title
		text-align: center
		&:after
			background-color: transparent

	.projects
		&__item
			width: 35%
			&:last-child
				display: none
		&__btn
			font-size: 1.4rem
			padding: 18px 47px 

	.footer
		&__content
			flex-direction: column
			justify-content: space-around
		&__blocklist
			width: 100%
		&__item
			&:first-child
				margin-bottom: 43px
		&__description
			display: none

	.contacts
		&__wrap
			flex-direction: column
		&__item
			width: 100%
			&:first-child
				margin-top: 75px
		&__map
			height: 550px
		&__btn
			font-size: 2rem
			width: 70%
			padding: 20px 0
			margin-left: auto
			margin-right: auto

	.about
		&__item
			width: 100%
			max-width: 10000px
			&:first-child
				display: none
		&__title
			text-align: center
		&__btn
			margin: 44px auto 0
		&__text
			font-size: 2rem

	.mechanics
		&__title
			margin-top: 100px
		&__content
			margin: 100px auto
		&__subtitle
			font-size: 2rem


@media screen and (max-width: 425px)
	html
		font-size: 6px

	.container
		width: 100%
		max-width: 1000px
		padding: 0 10px
	
	.burger-btn_text
		font-size: 2rem

	.modal
		&__logo
			width: 165px
			padding-left: 10px
			&:focus
				outline: none
			&:active
				outline: none
		&__header
			&_item
				padding-right: 20px
		&__item
			&:last-child
				display: none

	.nav
		top: 0
		&__wrap
			padding-top: 0
		&__item
			padding-right: 15px
		&__logo
			width: 165px
			padding-left: 10px
			&:focus
				outline: none
			&:active
				outline: none
		&_bg-color_grey
			background-color: #1E1F23
		&__mobile
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			margin-top: 4px
			&:after
				content: ''
				display: block
				width: 800px
				height: 1px
				margin-top: 5px
				margin-left: 30%
			&_after_black
				&:after
					background-color: #000
			&_after_white
				&:after
					background-color: #fff

		&__number
			font-size: 2.5rem
			display: flex
			flex-direction: row
			align-items: center
			&:before
				content: ''
				display: block
				background-color: transparent
				width: 15px
				height: 15px
				margin-right: 5px
			&_before_black
				&:before
					content: url('../img/phone_icon_black.svg')
			&_before_white
				&:before
					content: url('../img/phone_icon_white.svg')


	.header
		&__item
			min-height: 580px
			position: relative
	
	.slick
		&-prev
			margin-right: 80%
		&-next
		&-arrow
			width: 40px
			height: 27px
			top: 60%
			right: 4%

	.hero
		padding: 0 10px
		&__title
			line-height: 43px
			font-size: 5rem
			margin-top: 130px
			margin-left: 2%
		&__subtitle
			margin: 14px 0 14px 2%
			font-size: 2.5rem
			line-height: 16px
		&__btn
			display: block
			font-size: 3rem
			white-space: nowrap
			padding: 22px 36px
			margin: 0 auto
			position: absolute
			bottom: 17%
			left: 50%
			transform: translateX(-50%)
		&__item 
			height: 500px
	
	.steps
		&__wrap
			padding: 28px 0 58px
		&__content
			flex-direction: column
		&__item
			margin: 0 auto
		&__title 
			font-size: 3.5rem
			margin: 0
			span
				display: block
			&:after
				margin: 0

	.projects
		&__content
			flex-direction: column
		&__title
			margin: 55px 0 38px
			font-size: 3.5rem
		&__item
			width: 90%
			margin-bottom: 50px
			&:last-child
				display: block
				margin-bottom: 0
		&__itemtitle
			font-size: 4rem
		&__itemsubtitle
			font-size: 2.3rem
			margin: 7px 0 12px
		&__btn
			font-size: 2.5rem
			padding: 18px 35px
		&__showAll
			margin: 34px auto 58px
			font-size: 2.5rem

	.shortAbout
		&__title
			font-size: 4.1rem
			padding: 0
			margin: 50px auto 24px
		&__content
			flex-direction: column
			padding-bottom: 45px
		&__bg
			img
				width: auto
				margin-left: -70%
		&__item
			flex-basis: auto
			width: 90%
			margin: 0 auto
			&:last-child
				align-items: center
				margin: 0 auto
		&__text
			font-size: 2rem
			line-height: 14px
			max-width: 60%
			margin: 10px 0
			&:first-child
				margin-top: 30px
		&__link
			margin-top: 16px
			font-size: 2.5rem
			padding: 16px 33px
		&__reason
			font-size: 2.5rem
			line-height: 16px
		&__model
			min-height: 290px
		&__img
			width: 60%
		&__reason_1
			top: 7%

		&__arrow
			width: 65px
		&__arrow_1
			top: 20%
			left: 10%
		&__arrow_3
			bottom: 13%
			transform: rotate(100deg) scale(1, 1)
		&__arrow_4
			width: 100px
			right: 15%
			bottom: 0
			transform: rotate(120deg) scale(1, -1)

	.footer
		padding-top: 40px
		&__blocklist
			flex-direction: column
			flex-basis: auto
		&__item
			display: block
			flex-basis: auto
			width: 90%
			&:first-child
				margin-bottom: 10px
		&__logo
			width: 190px
			height: 40px
			margin: 0 auto
			position: relative
		&__list
			padding: 0 40px
		&__listtitle
			margin: 21px auto
			font-size: 4rem
		&__link
			font-size: 2.5rem
		&__contacts
			font-size: 2.5rem
		&__copy
			margin-top: 50px
		&__copywrap
			width: 78%
			margin: 0 auto
		&__copyblock
			width: 100%
			font-size: 1.5rem
			margin: 0 auto
			font-family: 'Gilroy Regular'
			span
				font-size: 1.5rem
			&:last-child
				margin-top: 15px
				font-size: 2rem
				font-family: 'Gilroy Bold'


	.about
		&__content
			flex-direction: column
		&__title 
			margin-bottom: 5px
		&__text
			font-size: 2rem
			padding: 0 15px
		&__item
			width: 100% 
			&:first-child
				display: block
				margin: 0 0 47px 0
			&:last-child
				max-width: 10000px
			img
				width: 95%
		&__btn
			font-size: 2.5rem

	.mechanics
		&__title
			font-size: 3rem
			margin-top: 57px
		&__content
			margin: 40px auto
		&__item
			flex-basis: 49%
			height: 170px
			&:nth-child(even)
				justify-content: flex-start
		&__subtitle
			font-size: 2.5rem
		&__vector
			bottom: 0
			right: 0
		&__vector1
			right: -70px
			bottom: 50%
			transform: translateY(50%) rotate(-50deg) 
		&__vector2
			transform: translateY(50%) rotate(130deg) scale(1,-1)
			right: -20px
		&__vector3
			left: -50px
			bottom: 0px
			transform: translateY(50%) rotate(30deg) 
		&__vector4
			transform: translateY(50%) rotate(40deg) scale(-1,1)
			left: -70px
			bottom: 55%
	

