.slick
	&-prev
		margin-right: 63px
		@media screen and (max-width: 425px)
			margin-right: 80%
			
	&-next
		transform: rotate(180deg)
	&-arrow
		width: 33px
		height: 22px
		position: absolute
		right: 22%
		top: 56%
		z-index: 7
		background-color: transparent
		background: url('../img/Vector.svg')
		background-repeat: no-repeat
		background-position: center
		background-size: contain
		border: none
		color: transparent
		&:focus,&:active
			outline: none
		@media screen and (max-width: 768px)
			right: 60px
		@media screen and (max-width: 425px)
			width: 40px
			height: 27px
			top: 60%
			right: 4%

	&-list
		overflow-y: visible
